.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
    font-size: 80px;
    color: #333;
}

.link_404 {
    color: #fff !important;
    padding: 12px 30px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.3s;
}

.link_404:hover {
    background: #2e8b27;
}

.contant_box_404 {
    margin-top: -50px;
}

.contant_box_404 h3 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}

.contant_box_404 p {
    font-size: 18px;
    color: #666;
}
